<div class="container mt-5">
  <div class="card">
    <div class="head"style="margin: 20px;">
      <h2>Rate Dog Products</h2>
    </div>
    <div class="row mt-4" style="margin: 20px;">
      <div class="col-md-6">
        <img style="width: 500px;" src="../assets/dogbed.png" alt="">
      </div>
      <div class="col-md-6">
        <h3>Harmony Grey Nester Memory Foam Dog Bed</h3>
        <p>Description <br>
          Harmony Grey Nester Memory Foam Dog Bed provides your pet with ultimate support. <br>
          This bed molds to your dog's body for custom fit comfort and will help your pup fall into a deeper more relaxed sleep.
          <br>
          <br>
          - Small Channeled Chipped Memory Foam Filled Dog Bed from the Harmony Manhattan Lofts Collection <br>
          - Nester silhouette is perfect for dogs that love to curl up in their sleep <br>
          - Extra tall bolster walls provide added security and comfort <br>
          - Filled with shredded memory foam that molds to your pet's body to provide orthopedic support and added comfort <br>
          - Super-soft textured plush sleep surface with faux leather accents <br>
          - Removable filled liner from bottom. Machine washable.</p>
        <ngb-rating [(rate)]="rate"></ngb-rating>
        <hr>
        <pre>Rate: <b>{{rate}}</b> of 10</pre>
      </div>
    </div>
  </div>
</div>

